@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'gilmer';
	src: url('/fonts/Gilmer-Bold.otf');
}

@font-face {
	font-family: 'poppins';
	src: url('/fonts/Poppins-Regular.ttf');
}

*, *::before, *::after {

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Fullcalendar stylings */

.fc-button {
	background-color: #A8A29E !important;
	border: none !important;
}

.fc-button:hover {
	cursor: pointer;
	background-color: #78716C !important;
}