@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'gilmer';
	src: url('/fonts/Gilmer-Bold.otf');
}

@font-face {
	font-family: 'poppins';
	src: url('/fonts/Poppins-Regular.ttf');
}

*, *::before, *::after {

	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Fullcalendar stylings */

.fc-button {
	background-color: #374151 !important;
	border: none !important;
}

.fc-button:hover {
	cursor: pointer;
	background-color: #374151 !important;
}

.fc-day:hover {
	background-color: #7B818D;
	cursor: pointer;
}

.fc-daygrid-day-frame:hover {
	color: white;
}

.fc-day-today {
	background-color: #7B818D !important;
	color: white;
}

.fc-event, .fc-daygrid-day-events {
	background-color: skyblue !important;
}